<!DOCTYPE HTML>
<html ng-app="myVideo">
	<head>
		<title>暖星视频</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> <!-- 优先使用 IE 最新版本和 Chrome -->
		<meta name="renderer" content="webkit"><!-- 360等浏览器使用chrome frame -->
		<meta name="keywords" content="video 视频 news 新闻">
		<meta name="description" content="最新的新闻视频">
		<meta name="author" content="暖星社区">
 		<meta name="theme-color" content="#d3698c">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <script src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js"></script>
        <script id="-mob-share" src="http://f1.webshare.mob.com/code/mob-share.js"></script>
        <script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
        <script type="text/javascript" src="js/swiper.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/av-mini.js"></script>
        <script src="js/video.js"></script>
        <script type="text/javascript">
            $(function(){
                var u = 0;
                $(".explore").hide();
                $(".video-info-span").click(function(){
                    $(".explore").slideToggle("slow");
                    if(u==0){
                        $(".icons-span").removeClass("downs");
                        $(".icons-span").addClass("ups");
                        u = 1;
                    }else{
                        $(".icons-span").removeClass("ups");
                        $(".icons-span").addClass("downs");
                        u = 0;
                    }
                });        
            });
        </script>          
        <link rel="icon" type="image/vnd.microsoft.icon" href="img/logo.middle.png">
        <link href="css/normalize.css" rel="stylesheet">
        <link href="css/aware.video.css" rel="stylesheet">
        <link href="css/comment.css" rel="stylesheet">
	</head>

    <body ng-controller="video">
        <!-- 头部 -->
        <nav class="nav-bar">
            <a href="./index.html" class="logo"></a>
        </nav>
        <div class="wrapper">
            <!-- 播放器 -->
            <div id="bofqi">
                <link type="text/css" href="css/play_box.css" rel="stylesheet">
                <div class="player-container">
                    <div class="player-box">
                        <div class="media-box">
                        </div>
                        <div class="display d_none">
                                <div class="play-over-cover vote">
                                    <div class="vote_title">你希望下期我们视频的主题是:</div>
                                    <div class="vote_items">
                                        <div ng-repeat="vt in votes" class="vote_item" data-vid="{{vt.v_id}}">{{vt.content}}</div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <!-- 分享收藏控件 -->
            <div id="video-opt" style="text-align: right;">
                <span class="control-btn btn-share">
                    <i class="icons icons-share-gray"></i>
                    <span class="-mob-share-open">分享</span>
                    <!--MOB SHARE BEGIN-->
                    <div class="-mob-share-ui" style="display: none">
                        <ul class="-mob-share-list">
                            <li class="-mob-share-weibo"><p>新浪微博</p></li>
                            <li class="-mob-share-tencentweibo"><p>腾讯微博</p></li>
                            <li class="-mob-share-qzone"><p>QQ空间</p></li>
                            <li class="-mob-share-qq"><p>QQ好友</p></li>
                            <li class="-mob-share-weixin"><p>微信</p></li>
                            <li class="-mob-share-douban"><p>豆瓣</p></li>
                            <li class="-mob-share-renren"><p>人人网</p></li>
                        </ul>
                        <div class="-mob-share-close">取消</div>
                    </div>
                    <div class="-mob-share-ui-bg"></div>
                   
                    <!--MOB SHARE END-->
                </span>
                <span class="control-btn btn-addFav" ng-click="zan()">
                    <i class="icons icons-addFav"></i>
                    <span>点赞</span>
                </span>

            </div> 
            <!-- 视频信息栏 -->
            <div class="video-info clearfix auto">
                <div class="video-info-detail">
                    <div class="explore">
                        <h1 class="video-title" title="{{video.title}}">{{video.title}}</h1>
                        <div class="video-desc">{{video.desc}}</div>
                    </div>   
                    <ul class="ct clearfix">
                        <li>播放：<span id="dianji">{{video.view_num}}</span></li>
                        <li>点赞：<span id="stow_count">{{video.zan_num}}</span></li>
                        <li><span class="up-time">{{video.uptime}}</span></li>
                    </ul>
                </div>
                <div class="video-info-span"><i class="icons icons-span downs"></i></div>
            </div> 
            <!-- 选集块 -->
            <div class="part-lst" id="part_list" title="{{video.title}}" total_page="{{sers.length}}">
                <ul class="lst unselectable initialized">
                    <li ng-repeat="s in sers" page="{{s.ser}}" class="{{s.ser}}"><a class="li-wrap" href="?ser={{s.ser}}">{{s.ser}}</a></li>
                    <!-- <div ng-if="more_videos" ng-click="showAll()" class="part-lst-more">查看全部（共{{sers.length}}P）</div> -->
                </ul>
            </div>    
            <!-- 评论模块 -->               
            <div class="recommend-comment channel video-list">
                <ul class="rc-navigator clearfix">
                    <li class="rc-navigator-li on" role="comment"><span>评论<em class="comment-num" style="display: inline;" ng-bind="video.c_num"></em></span><div class="line"></div></li>
                </ul>

                <div class="comment">
                    <div id="postComment">
                        <textarea ng-model="cmt_content"></textarea>
                        <input type="button" value="发布" class="inputBtn" ng-click="addComments()"/>
                    </div> 
                </div> 

                <div target-role="comment" class="target-role" style="display: block;">
                    <ul class="rc-pannel comment-in">
  
                        <li class="list" ng-repeat="cm in comments">
                            <div class="rc-container clearfix">
                                <a class="rc-pic">
                                    <img src="img/logo.small.png">
                                </a>
                                <div class="rc-main">
                                    <div class="rc-head clearfix">
                                        <a>暖星{{cm.local}}手机网友</a>
                                        <span class="rc-time">{{cm.comtime}}</span>
                                    </div>
                                    <div class="rc-comment">{{cm.content}}</div>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                    <div ng-if="more" id="nextPage" ng-click="getComments()" class="com-lst-more">查看更多</div>
                    </div>
            </div>  
            <!-- 底部 --> 
            <footer>
                    <p class="clearfix" style="text-align: center;">
                        <a id="back_to_top" href="javascript:void(0)" class="bottom-btn"><i class="icons icons-top"></i>返回顶部</a>
                    </p>
                    <p>上海星惜科技有限公司</p>
            </footer>
           
        </div>
	</body>
</html>
